<?xml version="1.0" encoding="UTF-8" ?>
<settings>
    <servers>
        {{range .Servers}}
        <server>
            <id>{{.ID}}</id>
            <username>{{.Username}}</username>
            <password>{{.Password}}</password>
        </server>
        {{end}}
    </servers>

    <profiles>
        <profile>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                {{if .UseCentral}}
                <repository>
                    <id>central</id>
                    <url>https://repo.maven.apache.org/maven2/</url>
                </repository> 
                {{end}}
                {{range .Repos}}
                <repository>
                    <id>{{.ID}}</id>
                    <url>{{.URL}}</url>
                    <layout>default</layout>
                    {{if .Releases}}
                    <releases>
                        <enabled>true</enabled>
                    </releases> 
                    {{end}}
                    {{if .Snapshots}}
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    {{end}}
                </repository>
                {{end}}
            </repositories>
        </profile>
    </profiles>
</settings>